.homepage
{
	border:2px solid black;
	width:auto;
	height:680px;
	background-color:#E0FFFF;
	margin-left:-7px;
	margin-right:-7px;
	margin-top:-7px;
	
}
.header
{
	border:0px solid green;
	width:auto;
	height:140px;
	background-color:#1E90FF;
	font-size:13px;
	padding-top:30px;
	padding-top:30px;
	color:white;
	
	
}
.img
{
	border:1px;
	width:100px;
	height:100px;
	margin-left:50px;
	margin-top:10px;
	background-color:white;
}
.h1
{
	border:0px;
	float:right;
	padding-right:300px;	
}
.h2
{
	border:0px;
	float:right;
	padding-right:400px;
    margin-top:-50px;
    font-size:18px;	
	
}
.h3
{
	border:0px;
	float:right;
	padding-right:460px;
	margin-top:-30px;
	font-size:18px;
	
}
.p1
{
	border:0px;
	color:#B22222;
	font-size:25px;
	font-weight:bold;
	margin-left:450px;
	
}
.p2
{
	border:0px;
	color:#B22222;
	font-size:25px;
	font-weight:bold;
	margin-left:500px;
	margin-top:-20px;
}
.log
{
	border:1px dashed black;
	width:330px;
	height:280px;
	margin-left:500px;	
}
.p3
{
	font-size:30px;
	border:0px;
	color :black;
	font-weight:bold;
}
.log1
{
	border:0px;
	font-size:20px;
	padding-left:20px;
	font-weight:bold;
}
.but
{
	border:0px;
	background-color:#1E90FF;
	font-size:18px;
	margin-left:95px;
	border-radius:8px;
}
.bot
{
	border:1px solid black;
	width:auto;
	height:72px;
	margin-top:43px;
	font-size:50px;
	background-color:#2F4F4F;
	color:orange;
	font-style:italic;
	
}
.p7
{
	position:absolute;
    right:100px;
	padding-top:-40px;
	margin-top:-3px;

}
.p8
{
position:absolute;
right:65px;	
font-size:30px;
padding-top:13px;
font-style:arial;
}
.p9
{
	position:absolute;
	right:70px;
	font-size:20px;
	margin-top:-23px;
	color:#1E90FF;
	font-style:italic;
}
.p10
{
border:0px;
padding-left:100px;
color:red;
font-size:15px;
}
